<?xml version="1.0" encoding="windows-1250"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.bme.hu/aut/statechartdsl/StatechartDSL"
			class = "hu.bme.aut.statechartdsl.statechartDSL.StatechartDSLPackage"
			genModel = "model/generated/StatechartDSL.genmodel" />
	</extension>
</plugin>
