<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~ Copyright 2012 Red Hat, Inc. and/or its affiliates.
 ~
 ~ Licensed under the Eclipse Public License version 1.0, available at
 ~ http://www.eclipse.org/legal/epl-v10.html
-->

<module xmlns="urn:jboss:module:1.0" name="org.eclipse.javaparser">
  <resources>
    <resource-root path="org.eclipse.core.contenttype-3.4.100.jar"/>
        <resource-root path="org.eclipse.core.jobs-3.5.100.jar"/>
        <resource-root path="org.eclipse.core.resources-3.7.100.jar"/>
        <resource-root path="org.eclipse.core.runtime-3.7.0.jar"/>
        <resource-root path="org.eclipse.jdt.core-3.9.1.v20130905-0837.jar"/>
        <resource-root path="org.eclipse.osgi-3.7.1.jar"/>
        <resource-root path="org.eclipse.equinox.common-3.6.0.jar"/>
        <resource-root path="org.eclipse.equinox.preferences-3.4.1.jar"/>
        <resource-root path="org.eclipse.text-3.5.101.jar"/>
        <!-- Insert resources here -->
  </resources>
  
  <dependencies>
      <module name="javax.api" />
  </dependencies>
</module>
