<?xml version="1.0" encoding="UTF-8"?>

<!--
 ~ Copyright 2012 Red Hat, Inc. and/or its affiliates.
 ~
 ~ Licensed under the Eclipse Public License version 1.0, available at
 ~ http://www.eclipse.org/legal/epl-v10.html
-->

<module xmlns="urn:jboss:module:1.0" name="org.apache.commons.config">
	<resources>
		<resource-root path="commons-beanutils-1.8.3.jar"/>
        <resource-root path="commons-collections-3.2.1.jar"/>
        <resource-root path="commons-configuration-1.7.jar"/>
        <resource-root path="commons-digester-1.8.1.jar"/>
        <resource-root path="commons-lang-2.6.jar"/>
        <!-- Insert resources here -->
	</resources>

	<dependencies>
		<module name="javax.api" />
		<module name="org.apache.commons.logging" />
		<module name="sun.jdk" />
	</dependencies>
</module>
